footer {
  text-align: center;
  padding: 3px;
  background-color: #c5c742;
  color: white;
}
p.b {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}

li a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
h2{
  font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}